venv/
__pycache__/
.env
models/*.pkl
models/finetuned_bert/
mlruns/
data/augmented/*
!data/augmented/.gitkeep
data/splits/*
!data/splits/.gitkeep
results/figures/*
!results/figures/.gitkeep
results/metrics/*
!results/metrics/.gitkeep
.ipynb_checkpoints/
